@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Don't Come To My House<br />
    Seriously, Don't...<br />
    <abbr title="Phone">P:</abbr>
    Don't Call Me...
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@AA.com">Support@AA.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@buystuff.com">Marketing@buystuff.com</a>
</address>