@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CorgiFan Subscription Box</h1>
    <p class="lead">This project is about creating a service that allows busy Corgi owners to purchase supplies for their furry companions, and have them delivered to their homes on a monthly basis.</p>
    <p><a href="http://google.com" class="btn btn-primary btn-lg">Create &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Editing the HTML</h2>
        <p>
            Hey, at least I can do something in this project that was somewhat useful, right?
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>WOW, this isn't interesting at all!</h2>
        <p>Look at all this stuff I can edit!  All without even really trying!</p>
        <p><a class="btn btn-danger" href="http://www.facebook.com">Waste Time &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Pages</h2>
        <p>Admit it: This page is boring.  You should totally click this button and look at these pictures and play with these cute corgis!</p>
        <p><a class="btn btn-warning" href="http://jasonhoneyager.github.io/">WOOF! &raquo;</a></p>
    </div>
</div>